version: '3.8'

services:
  app:
    image: mcr.microsoft.com/devcontainers/base:bookworm
    volumes:
      - ../..:/workspaces:cached
      # 挂载独立的 node_modules volume，避免与宿主机的 node_modules 混淆
      - node_modules_data:/workspaces/learnify/node_modules
    command: sleep infinity
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_URL}:${DB_PORT}/${DB_DATABASE}
      REDIS_SERVER_HOST: redis
      AFFINE_INDEXER_SEARCH_ENDPOINT: http://indexer:9308
      MAILER_HOST: ${MAILER_HOST}
      MAILER_PORT: ${MAILER_PORT}
      MAILER_USER: ${MAILER_USER}
      MAILER_PASSWORD: ${MAILER_PASSWORD}
      MAILER_SENDER: ${MAILER_SENDER}
      MAILER_IGNORE_TLS: ${MAILER_IGNORE_TLS}
      NODE_OPTIONS: --dns-result-order=ipv6first
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0

  redis:
    image: redis
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0

  indexer:
    image: manticoresearch/manticore:${MANTICORE_VERSION:-10.1.0}
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535
      memlock:
        soft: -1
        hard: -1
    volumes:
      - manticoresearch_data:/var/lib/manticore
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0

volumes:
  manticoresearch_data:
  # 新增的 node_modules volume，用于存储容器独立的 node_modules
  node_modules_data:

networks:
  default:
    enable_ipv6: true
