# server port
PORT=80

# persistent storage locations for the database, uploads, and config
DB_DATA_LOCATION=~/opt/learnify/postgres/pgdata
UPLOAD_LOCATION=~/opt/learnify/storage
CONFIG_LOCATION=~/opt/learnify/config

# database credentials
DB_USERNAME=learnify
DB_PASSWORD=learnify
DB_DATABASE=learnify
